<section class="bg-background">
    <%= render IndiePaperWeb.DashboardView, "_nav_bar.html", assigns %>
    <div class="container-box page-box">
        <h1 class="page-heading">Memberships</h1>
        <p class="page-description">
            manage your membership tiers here.
        </p>
    </div>
</section>