<section class="bg-background">
    <%= render IndiePaperWeb.DashboardView, "_nav_bar.html", assigns %>
    <div class="container-box page-box">
        <div class="max-w-xl">
            <h1 class="page-heading">Memberships</h1>
            <p class="page-description">
                manage your membership tiers here. Your readers can subscribe to you via these tiers.
            </p>
        </div>
    </div>
</section>