<section class="bg-background">
    <div class="secondary-nav">
        <div class="secondary-big-nav-content">
            <h1 class="text-lg font-bold"><%= @book.title %></h1>
        </div>
    </div>
    <div class="container-box page-box">
        <div class="space-y-4">
            <%= for chapter <- @published_chapters do %>
                <p><%= chapter.title %></p>
            <% end %>
        </div>
    </div>
</section>