<div class="bg-gradient-to-br from-cool-gray-100 to-cool-gray-300">
    <section class="text-center container-box">
        <h1 class="pt-16 text-4xl font-black text-center text-gray-900">Earn money from books, even before you publish them.</h1>
        <p class="mt-6 leading-relaxed">Earn money from your books, publishing each chapter as you finish them, all on a platform designed to make beautiful books.</p>
    </section>
</div>
