/* This file is for your main application CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .container-box {
    @apply max-w-7xl mx-auto p-6 md:px-12;
  }

  .page-box {
    @apply py-20 md:pt-24 md:pb-32;
  }

  .page-heading {
    @apply text-xl font-bold;
  }

  .page-description {
    @apply secondary-text mt-1;
  }

  .secondary-text {
    @apply text-secondary-text font-normal;
  }

  .form-container {
    @apply flex flex-col space-y-8 items-start;
  }

  .form-tight-container {
    @apply form-container !space-y-6;
  }

  .form-loose-container {
    @apply form-container !space-y-8;
  }

  .input-container {
    @apply flex flex-col w-full;
  }

  .form-input {
    @apply border-primary-border focus:ring-0 w-full rounded-lg focus:outline-none focus:border-stone-500;
  }

  .form-input-error {
    @apply !border-primary-error;
  }

  .small-badge {
    @apply flex flex-row items-center py-1 px-3 space-x-1.5 text-xs rounded-full;
  }

  .input-label {
    @apply mb-1;
  }

  .input-label-info {
    @apply -mt-1 mb-1 secondary-text text-sm;
  }

  .input-error {
    @apply text-sm text-primary-error block mt-1;
  }

  .base-button {
    @apply px-5 py-2 rounded-3xl inline-flex flex-row items-center justify-center space-x-1.5 font-medium text-gray-700 hover:text-gray-900 hover:rounded-xl transition-all duration-200;
  }

  .primary-button {
    @apply bg-gradient-to-b from-gray-700 via-gray-800 to-gray-900 base-button !text-gray-50 hover:text-white;
  }

  .submit-button {
    @apply primary-button !px-6 shadow-sm;
  }

  .secondary-button {
    @apply bg-white base-button border border-primary-border shadow-sm hover:border-darker-border;
  }

  .accent-button {
    @apply secondary-button border-accent;
  }

  .error-box {
    @apply text-red-500 bg-red-50 border-red-500 px-4 py-2 rounded-md;
  }

  .form-error-box {
    @apply error-box mb-8;
  }

  .primary-card {
    @apply flex flex-col items-start p-6 bg-white shadow-sm rounded-xl overflow-hidden border border-primary-border;
  }

  .base-link {
    @apply flex flex-row items-center space-x-1.5 text-gray-700 hover:text-primary-text transition-all font-medium hover:bg-stone-100 px-2 py-1;
  }

  .primary-link {
    @apply base-link text-gray-700 rounded-lg;

  }

  .secondary-link {
    @apply base-link text-sm rounded-md;
  }

  .profile-picture {
    @apply object-cover w-24 h-24 rounded-full ring-2 ring-white ring-offset-2 ring-offset-gray-800 focus:outline-none;
  }

  .secondary-nav {
    @apply bg-white border-b border-primary-border;
  }

  .secondary-nav-content {
    @apply py-6 md:py-4 flex flex-col items-start space-y-4 md:flex-row md:items-center md:justify-between md:space-y-0 md:space-x-4 container-box;
  }

  .secondary-big-nav-content {
    @apply secondary-nav-content md:py-6;
  }

  .secondary-nav-link {
    @apply secondary-link py-2 w-full md:w-auto;
  }
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}

.phx-disconnected * {
  pointer-events: none;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

[x-cloak] {
  display: none;
}
