<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <%= csrf_meta_tag() %>
        <%= live_title_tag assigns[:page_title] || "IndiePaper", suffix: " · Phoenix Framework" %>

        <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
        <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/static/fonts/fonts.css")}/>
        <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/js/app.js")}></script>
    </head>

    <body class="antialiased font-medium text-primary-text">
        <header class="border-b-2 border-orange-400">
            <div class="flex flex-row justify-between items-center container-box">
                <%= link "IndiePaper", to: Routes.page_path(@conn, :index), class: "font-bold", "data-test": "title"  %>
                <div class="flex flex-row items-center space-x-5 md:space-x-6">
                    <%= if @current_author do %>
                        <%= link "Dashboard", to: Routes.dashboard_path(@conn, :index), class: "primary-link" %>
                        <%= link "Sign out", to: Routes.author_session_path(@conn, :delete), method: :delete, class: "primary-link" %>
                    <% else %>
                        <%= link "Sign in", to: Routes.author_session_path(@conn, :new) , class: "primary-link"%>
                        <%= link "Start Writing", to: Routes.author_registration_path(@conn, :new), class: "secondary-button text-sm" %>
                    <% end %>
                </div>
            </div>
        </header>
        <%= @inner_content %>
    </body>
</html>